version: '3.8'

services:
  redis:
    image: redis:latest
    ports:
      - '6379:6379'
    volumes:
      - redis-data:/data
    networks:
      - app_network

  server_blue:
    build: ./weather-server
    ports:
      - '3002:3000'
    environment: 
      - NODE_ENV=prod
    volumes:
      - /home/ec2-user/regional-weather:/app/weather-server 
    depends_on:
      - redis
    networks:
      - app_network

volumes:
  redis-data:

networks:
  app_network: 
